{%extends 'base.html'%} {%block head%} {% load static %}
<!---------------------------------------------icons cdn-------------------------------------->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="icon" href="Img/233_-_blood-512.png">
<!---------------------------------------------bootstrap icon cdn-------------------------------------->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
<!-- Main css -->
<link rel="stylesheet" href="{%static 'base/css/home.css'%}"> {%endblock%} {%block body%}

<!----------------------------------------------------------------------------------------------
                                                                Header Cover
----------------------------------------------------------------------------------------------->

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 header-cover">
        <img src="{%static 'base/images/cover.jpg'%}" alt="cover picture">
    </div>
</div>


<!----------------------------------------------------------------------------------------------
                                                                            Body Content
----------------------------------------------------------------------------------------------->

<section>
    <div class="body-content">
        <div class="container">
            <!-----------------------------------------------------------------------------------------------
                                                                            section 1
            ------------------------------------------------------------------------------------------------>
            <div class="section1">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 section1-left">
                        <img src="{%static 'base/images/know.jpg'%}">
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 section1-right">
                        <h1>Do You Know?</h1>
                        <p>Blood cannot be made artificially, only one person can save another. But sadly, every year a large number of people are dying due to lack of necessary blood in an emergency. At present Bangladesh needs only 9 lakh bags of blood
                            every year. But in this populous country people are still dying due to lack of blood. This demand for blood can be easily met if adults in all parts of our country are made aware of the need and benefits of blood donation.
                            There can be no greater joy than to bring a dying patient back to his loved ones in good health. Stay by the side of dying patients in need of emergency blood. For those who wish to donate blood, please register as a blood
                            donor on this website. Patients will find you in case of emergency blood transfusion. Happy Blood Donating.</p>
                    </div>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------
                                                                            section 2
            ------------------------------------------------------------------------------------------------>

            <div class="section2">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 section2-left">
                        <h1>Some Mis-conceptions</h1>
                        <p>1. There is no pain at all when donating blood. It just feels a little uncomfortable to pierce the needle. 2. Health will deteriorate after blood donation this is a misconception. In fact, donating blood reduces the risk of heart
                            disease and prevents excessive iron storage in the body. 3. People with diabetes cannot donate blood this is also a misconception. If considered eligible for health examination, a person with diabetes can donate blood as long
                            as the person's blood glucose level is within the recognized limits. 4. Blood cannot be donated because of high blood pressure this is also a misconception. Blood can be given if the blood pressure is between 160 systolic and
                            100 diastolic. 5. After donating blood, you will not feel any discomfort or faint. Many people have misconceptions about this.</p>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 section2-right">
                        <img src="{%static 'base/images/know.jpg'%}" class="float-end">
                    </div>
                </div>
            </div>


            <!----------------------------------------------------------------------------------------------
                                                                            section 4
            ------------------------------------------------------------------------------------------------->

            <div class="section4">
                <div class="row">
                    <div class="col-12 section4-head text-center">
                        <h1>Donation Process</h1>
                        <img class="hartbeat" src="{%static 'base/images/icon/hartbeat.png'%}" alt="hartbeat Image">
                        <img class="process" src="{%static 'base/images/icon/Process.png'%}" alt="Process Image">
                    </div>
                </div>
            </div>


            <!----------------------------------------------------------------------------------------------
                                                                            section 3
            ------------------------------------------------------------------------------------------------->

            <div class="section3">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 section3-first text-center">
                        <img src="{%static 'base/images/blood-donation_gettyimages.jpg'%}" class="rounded">
                        <h4>Become a Donor</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book<span id="dots">...</span><span id="more">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</span></p>

                        <a onclick="myFunction()" id="myBtn">Read more</a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 section3-second text-center">
                        <img src="{%static 'base/images/Blood Donation 1.jpg'%}" class="rounded">
                        <h4>Why Donate Blood?</h4>
                        <p>Safe blood saves lives. Blood is needed by women with com plications during pregnancy and childbirth, children with severe anaemia, often resulting from malaria or malnutrition, accident victims and surgical and cancer patients
                            <span id="dots1">...</span><span id="more1">Blood is always needed for treatment of accident victims, cancer patients, hemophiliacs and surgery patients. Blood cannot be manufactured. Only 37 percent of our country's population is eligible to give blood, and less than 10 percent of those who can donate actually do donate annually.</span></p>
                        <a onclick="myFunction1()" id="myBtn1">Read more</a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 section3-third text-center">
                        <img src="{%static 'base/images/photo-1615461066841-6116e61058f4.jpg'%}" class="rounded">
                        <h4>Who can donate blood?</h4>
                        <p>Any healthy adult, both male and female, can donate blood. Men can donate safely once in every three months while women can donate every four months. And also You are aged between 18 and 65. You weigh at least 50 kg. You must be
                            in good health <span id="dots2">...</span><span id="more2">at the time you donate. Diabetes acceptable as long as it is well controlled, whether medication is taken or notWhy can't family members donate blood to each other? Family blood donation is generally discouraged
                                            as they are often first time or infrequent donors and do not have a safety history established.</span>
                        </p>

                        <a onclick="myFunction2()" id="myBtn2">Read more</a>
                    </div>
                </div>
            </div>

            <!----------------------------------------------------------------------------------------------
                                                                            section 5
            ----------------------------------------------------------------------------------------------->

            <div class="section5 text-center">
                <div class="row">
                    <div class="col-12 section5-header">
                        <h1>We’re a network of</h1>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 section5-left">
                        <img src="{%static 'base/images/icon/Member2.png'%}" alt="Member Image" class="left-img">
                        <p>5854 Donors</p>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 section5-middle">
                        <img src="{%static 'base/images/icon/loaction.png'%}" alt="location Image" class="middle-img">
                        <p>64 Districts</p>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 section5-right">
                        <img src="{%static 'base/images/icon/Group.png'%}" alt="Group Image" class="right-img">
                        <p>8 Blood Groups</p>
                    </div>
                </div>
            </div>
        </div>


        <!----------------------------------------------------------------------------------------------
                                                                            section 6
        ----------------------------------------------------------------------------------------------->


        <div class="section6">

            <div class="section6-header text-center">
                <h1>Meet With Our Team</h1>
            </div>
            <div class="card-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-image">
                                    <img class="img" src="{%static 'base/images/1.png'%}" alt="Team Image-1">
                                </div>
                                <div class="table">
                                    <h5 class="card-caption text-center">John Smith</h5>
                                    <h6 class="category text-gray text-center">CEO / Co-Founder</h6>
                                    <div class="col-12 social-icon text-center">
                                        <a href="#">
                                            <i class="bi bi-facebook facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="bi bi-whatsapp whatsapp"></i>
                                        </a>
                                        <a href="#">
                                            <i class="bi bi-github github"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-image">
                                    <img class="img" src="{%static 'base/images/2.png'%}" alt="Team Image-1">
                                </div>
                                <div class="table">
                                    <h5 class="card-caption text-center">John Smith</h5>
                                    <h6 class="category text-gray text-center">CEO / Co-Founder</h6>
                                    <div class="col-12 social-icon text-center">
                                        <a href="#">
                                            <i class="bi bi-facebook facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="bi bi-whatsapp whatsapp"></i>
                                        </a>
                                        <a href="#">
                                            <i class="bi bi-github github"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-image">
                                    <img class="img" src="{%static 'base/images/3.jpg'%}" alt="Team Image-1">
                                </div>
                                <div class="table">
                                    <h5 class="card-caption text-center">John Smith</h5>
                                    <h6 class="category text-gray text-center">CEO / Co-Founder</h6>
                                    <div class="col-12 social-icon text-center">
                                        <a href="#">
                                            <i class="bi bi-facebook facebook"></i>
                                        </a>
                                        <a href="#">
                                            <i class="bi bi-whatsapp whatsapp"></i>
                                        </a>
                                        <a href="#">
                                            <i class="bi bi-github github"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{%endblock%}